<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="info">
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n"/>
        </console>
        <rollingFile name="rollingFile" filename="log/application.log" filePattern="log/application.log">
            <patternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n"/>
            <policies>
                <sizeBasedTriggeringPolicy size="10 MB"/>
            </policies>
            <defaultRolloverStrategy max="20"/>
        </rollingFile>
    </appenders>
    <loggers>
        <root level="debug">
            <appenderRef ref="console"/>
            <appenderRef ref="rollingFile"/>
        </root>
    </loggers>
</configuration>